/Cilindro.class
/Circulo.class
/Cubo.class
/DimensaoSuperficial.class
/DimensaoVolumetrica.class
/Figura2D.class
/Figura3D.class
/FiguraGeometrica.class
/Piramide.class
/Quadrado.class
/Triangulo.class
/testa.class
